:root {
  --font-color--primary: #444;
  --font-family-primary: 'Space Mono', monospace;
  /* color-scheme: light dark; */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  background-color: rgb(219, 219, 219);
  scroll-behavior: smooth;
}

.container {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative;
  color: var(--font-color--primary);
}

.dark-mode {
  position: absolute;
  top: 5%;
  left: 80%;
}

.dark-mode__title {
  font-size: 1.5rem;
}

.dark-mode__btn {
  border: 1px solid #444;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* HEADER SECION */

#header {
  width: 90%;
  margin: 0 auto;
}

.header__primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.header__tertiary {
  font-size: 2rem;
  font-weight: 500;
}

.header__para {
  font-size: 1.5rem;
}

#header > * {
  /* margin-left: 5rem; */
  padding: 0.5rem;
}

/* MAIN SECTION */

.info {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 10rem;
}

.info > * {
  width: 50%;
}

.info__col--1 {
}

.info-about {
  margin-bottom: 1rem;
}

.info-about__title {
  font-size: 2rem;
  font-weight: 600;
}

.info-about__para {
  font-size: 1.5rem;
}

.info-about__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1b9aaa;
  padding: 0.5rem 0;
}

.info-about__link:hover {
  text-decoration: underline;
}

.info-capab {
  margin-top: 4rem;
}

.info-capab__title {
  font-size: 2rem;
  font-weight: 600;
}

.info-capab__list {
  list-style: none;
  font-size: 1.5rem;
  padding: 0.2rem 0;
}

.info__col--2 {
}

.info-wrap {
  position: relative;
  height: 30rem;
  overflow: hidden;
}

.info-wrap__img {
  position: absolute;
  height: 70%;
}

.contact {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}

.contact__title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.contact__list {
  font-size: 1.5rem;
  padding: 0.2rem 0;
}

.contact__link {
  text-decoration: none;
  color: #1b9aaa;
}

/* footer */
.footer {
  padding: 2rem 0;
  text-align: center;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__credit {
  font-size: 2rem;
}
