*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER SECION */

#heading {
    color: #444;
}

.header__primary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5rem;
}

.header__tertiary {
    font-size: 2rem;
    font-weight: 500;
}

.header__para {
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
}

#header > * {
    margin-left: 5rem;
    padding: 0.5rem;
}

/* MAIN SECTION */

.info {
    display: flex;
}